

body {
  background-color: #EAF6F6;
   font-family: 'Montserrat';
}

h1 {
  color: #66BFBF;
  font-family: 'Montserrat';
  font-weight: 800;
  text-shadow: 2px 2px 9px #000000;

}
h3 {
  color: #66BFBF;
    font-family: 'Montserrat';
  text-shadow: 2px 2px 9px #000000;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 5%;
  font-family: 'Montserrat';
}


p {
 font-family: 'Montserrat';
/*   margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200; */
  
}

div.a {
  text-align: right;
}

